body {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 30%;
}

h1 {
    text-align: center;
    margin: 0;
}

.uebung{
    background-image: url(/task-1/assets/background.jpg);
    background-size: contain;
    height: 50px;
}



